
/data/
/eval_log/
/temp/
/train_log/
/train_log_v2/
/train_log_with_sem_mask_loss_weight_as_0.5_1_1_5/
/train_log_with_sem_mask_loss_weight_as_2_5_2_5/
/train_SSPS_log/
/train_with_0.1_labeled_aug/
/train_with_0.1_labeled_only_stuff/
/train_with_0.2_labeled/
/train_with_0.2_labeled_mask3d/
/train_with_0.5_labeled/
/wandb/
/log_file
/log.txt
__pycache__/
*.log
*.npy
*.npz
